Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.uasset
*.uasset
Content/PlayerBuildingSystem/Blueprints/BuildingCharacter.uasset
*.umap
Brushify_Arctic_Pack.png
Build/AllDesktop/FileOpenOrder/CookerOpenOrder.log
Build/Android/FileOpenOrder/CookerOpenOrder.log
Build/Android_ASTC/FileOpenOrder/CookerOpenOrder.log
Build/Android_ASTCClient/FileOpenOrder/CookerOpenOrder.log
Build/Android_ATC/FileOpenOrder/CookerOpenOrder.log
Build/Android_ATCClient/FileOpenOrder/CookerOpenOrder.log
Build/Android_DXT/FileOpenOrder/CookerOpenOrder.log
Build/Android_DXTClient/FileOpenOrder/CookerOpenOrder.log
Build/Android_ETC1/FileOpenOrder/CookerOpenOrder.log
Build/Android_ETC1a/FileOpenOrder/CookerOpenOrder.log
Build/Android_ETC1aClient/FileOpenOrder/CookerOpenOrder.log
Build/Android_ETC1Client/FileOpenOrder/CookerOpenOrder.log
Build/Android_ETC2/FileOpenOrder/CookerOpenOrder.log
Build/Android_ETC2Client/FileOpenOrder/CookerOpenOrder.log
Build/Android_Multi/FileOpenOrder/CookerOpenOrder.log
Build/Android_MultiClient/FileOpenOrder/CookerOpenOrder.log
Build/Android_PVRTC/FileOpenOrder/CookerOpenOrder.log
Build/Android_PVRTCClient/FileOpenOrder/CookerOpenOrder.log
Build/AndroidClient/FileOpenOrder/CookerOpenOrder.log
Build/IOS/FileOpenOrder/CookerOpenOrder.log
Build/IOSClient/FileOpenOrder/CookerOpenOrder.log
Build/LinuxAArch64Client/FileOpenOrder/CookerOpenOrder.log
Build/LinuxAArch64NoEditor/FileOpenOrder/CookerOpenOrder.log
Build/LinuxAArch64Server/FileOpenOrder/CookerOpenOrder.log
Build/LinuxClient/FileOpenOrder/CookerOpenOrder.log
Build/LinuxNoEditor/FileOpenOrder/CookerOpenOrder.log
Build/LinuxServer/FileOpenOrder/CookerOpenOrder.log
Build/Lumin/FileOpenOrder/CookerOpenOrder.log
Build/LuminClient/FileOpenOrder/CookerOpenOrder.log
Build/TVOS/FileOpenOrder/CookerOpenOrder.log
Build/TVOSClient/FileOpenOrder/CookerOpenOrder.log
Build/Windows/FileOpenOrder/CookerOpenOrder.log
Build/WindowsClient/FileOpenOrder/CookerOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
Build/WindowsServer/FileOpenOrder/CookerOpenOrder.log
Content/PlayerBuildingSystem/Blueprints/BuildingBlueprints/BuildObjects/BP_MasterBuildPart.uasset
Content/PlayerBuildingSystem/Blueprints/BuildingBlueprints/BuildObjects/OpenableDoor.uasset
Content/PlayerBuildingSystem/Blueprints/BuildingBlueprints/BuildObjects/OpenableWindow.uasset
Content/PlayerBuildingSystem/Blueprints/BuildingBlueprints/BuildObjects/PlotPole.uasset
Content/PlayerBuildingSystem/Blueprints/BuildingBlueprints/BuildTypes/BP_BuildMaster.uasset
Content/PlayerBuildingSystem/Blueprints/BuildingBlueprints/BuildTypes/BuildPartData.uasset
Content/PlayerBuildingSystem/Blueprints/BuildingBlueprints/Other/BuildingFunctions.uasset
Content/PlayerBuildingSystem/Blueprints/BuildingBlueprints/Other/BuildingMacros.uasset
Content/PlayerBuildingSystem/Blueprints/BuildingBlueprints/Other/E_SegmentType.uasset
Content/PlayerBuildingSystem/Blueprints/BuildingBlueprints/Other/S_Build_Part_Info.uasset
Content/PlayerBuildingSystem/Blueprints/BuildingBlueprints/Other/S_BuildingCost.uasset
Content/PlayerBuildingSystem/Blueprints/BuildingBlueprints/Other/S_BuildingSave.uasset
Content/PlayerBuildingSystem/Blueprints/BuildingCharacter.uasset
Content/PlayerBuildingSystem/Blueprints/BuildingSave.uasset
Content/PlayerBuildingSystem/Blueprints/Components/PlayerBuildingComponent.uasset
Content/PlayerBuildingSystem/Blueprints/HUD/BuildingHUD.uasset
Content/PlayerBuildingSystem/Blueprints/HUD/BuildingMenu.uasset
Content/PlayerBuildingSystem/Blueprints/HUD/BuildingMenuPage2.uasset
Content/PlayerBuildingSystem/Blueprints/HUD/BuildingOptionsMenu.uasset
Content/PlayerBuildingSystem/Blueprints/HUD/BuildMenuSegment.uasset
Content/PlayerBuildingSystem/Blueprints/HUD/MasterRadialMenu.uasset
Content/PlayerBuildingSystem/Blueprints/HUD/MasterSegment.uasset
Content/PlayerBuildingSystem/Blueprints/HUD/PlotPoleMenu.uasset
Content/PlayerBuildingSystem/Blueprints/MasterResource.uasset
Content/PlayerBuildingSystem/Blueprints/RockResource.uasset
Content/PlayerBuildingSystem/Blueprints/SaveSystem.uasset
Content/PlayerBuildingSystem/Blueprints/TreeResource.uasset
Content/PlayerBuildingSystem/Maps/Showcase.umap
Content/PlayerBuildingSystem/Materials/MaterialInstances/MI_Floor_Wood_01.uasset
Content/PlayerBuildingSystem/Materials/MaterialInstances/MI_Foundation_Wood_01.uasset
MeleeWeaponsPack.png
Toolshed_VOL1.png
*.uasset
*.umap
